<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">
  <joint name="camera_joint" type="fixed">
    <parent link="chassis"/>
    <child link="camera_link"/>
    <origin xyz="0.08 0 0.025" rpy="0 0.005 0" />
  </joint>

  <link name="camera_link">
    <!-- Cylinder with r=20mm, h=5mm (ASSUMPTION) -->
    <visual>
      <geometry>
        <box size="0.05 0.03 0.03" />
      </geometry>
      <material name="green"/>
    </visual>
  </link>

  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_link_optical"/>
    <origin xyz="0.08 0 0.025" rpy="${-pi/2} 0 ${-pi/2}" />
  </joint>

  <link name="camera_link_optical"></link>

  <gazebo reference="camera_link">
    <material>Gazebo/Green</material>
    <sensor name="camera" type="camera">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>10</update_rate>
      <camera>
        <horizontal_fov>1.089</horizontal_fov>
        <image>
          <format>R8G8B8</format>
          <width>640</width>
          <height>480</height>
        </image>
        <clip>
          <near>0.005</near>
          <far>20.0</far>
        </clip>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <!-- Note that this is associated with the optical link, not the simulated link -->
        <frame_name>camera_link_optical</frame_name>
      </plugin>
    </sensor>
  </gazebo>
</robot>
